body{
    background: #fbfbfb;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    gap:8rem;
    height: 100vh;

}
.car1 {
 
position: absolute;
left: -6rem;
    width: 10rem;
    height: 10rem;
    
    animation-name: move-car;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .car2 {
    
    position: absolute;
    left: -6rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    animation-name: move-car;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .car3 {
   
    position: absolute;
    left: -6rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    animation-name: move-car;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  .car4 {
    
    position: absolute;
    left: -6rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    animation-name: move-car;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .car5{
   
    position: absolute;
    left: -6rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    animation-name: move-car;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .car6 {
   
    position: absolute;
    left: -6rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    animation-name: move-car;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes move-car {
    0% {
        left: -6rem;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  


  